[package]
name = "datafusion-table-providers"
version = "0.1.0"
readme = "README.md"
edition = "2021"
repository = "https://github.com/datafusion-contrib/datafusion-table-providers"

[dependencies]
arrow = "54"
arrow-array = { version = "54", optional = true }
arrow-flight = { version = "54", optional = true, features = ["flight-sql-experimental", "tls"] }
arrow-schema = { version = "54", optional = true, features = ["serde"] }
arrow-json = "54"
async-stream = { version = "0.3.5", optional = true }
async-trait = "0.1.80"
num-bigint = "0.4.4"
base64 = { version = "0.22.1", optional = true }
bytes = { version = "1.7.1", optional = true }
byte-unit = { version = "5.1.4", optional = true }
bigdecimal = "0.4.5"
byteorder = "1.5.0"
chrono = "0.4"
datafusion = "46"
datafusion-expr = { version = "46", optional = true }
datafusion-physical-expr = { version = "46", optional = true }
datafusion-physical-plan = { version = "46", optional = true }
datafusion-proto = { version = "46", optional = true }
duckdb = { version = "1", features = [
  "bundled",
  "r2d2",
  "vtab",
  "vtab-arrow",
  "appender-arrow",
], optional = true }
fallible-iterator = "0.3.0"
futures = "0.3.30"
mysql_async = { version = "0.35.1", features = ["native-tls-tls", "chrono", "hdrhistogram", "bigdecimal", "time"], optional = true }
prost = { version = "0.13.2", optional = true }
rand = "0.8.5"
r2d2 = { version = "0.8.10", optional = true }
rusqlite = { version = "0.31.0", optional = true }
sea-query = { git = "https://github.com/spiceai/sea-query.git", rev = "213b6b876068f58159ebdd5852604a021afaebf9", features = ["backend-sqlite", "backend-postgres", "postgres-array", "with-rust_decimal", "with-bigdecimal", "with-time", "with-chrono"] }
secrecy = "0.10.3"
serde = { version = "1.0.209", features = ["derive"] }
serde_json = "1.0.124"
snafu = "0.8.3"
time = "0.3.36"
tokio = { version = "1.38.0", features = ["macros", "fs"] }
tokio-postgres = { version = "0.7.10", features = ["with-chrono-0_4", "with-uuid-1", "with-serde_json-1", "with-geo-types-0_7"], optional = true }
tracing = "0.1.40"
uuid = { version = "1.9.1", optional = true }
postgres-native-tls = { version = "0.5.0", optional = true }
bb8 = { version = "0.8", optional = true }
bb8-postgres = { version = "0.8", optional = true }
native-tls = { version = "0.2.11", optional = true }
trust-dns-resolver = "0.23.2"
url = "2.5.1"
pem = { version = "3.0.4", optional = true }
tokio-rusqlite = { version = "0.5.1", optional = true }
tonic = { version = "0.12.2", optional = true }
datafusion-federation = "0.1"
datafusion-federation-sql = { git = "https://github.com/spiceai/datafusion-federation.git", rev = "a4c752a172904a0c214fc37ab2d62e907eb16c8f" }
itertools = "0.13.0"
dyn-clone = { version = "1.0.17", optional = true }
geo-types = "0.7.13"
fundu = "2.0.1"

[dev-dependencies]
anyhow = "1.0.86"
bollard = "0.16.1"
rand = "0.8.5"
reqwest = "0.12.5"
secrecy = "0.10.3"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
test-log = { version = "0.2.16", features = ["trace"] }
rstest = "0.22.0"
geozero = { version = "0.13.0", features = ["with-wkb"] }
tokio-stream = { version = "0.1.15", features = ["net"] }
insta = { version = "1.40.0", features = ["filters"] }
datafusion-physical-plan = { version = "45" }
tempfile = "3.8.1"

[features]
mysql = ["dep:mysql_async", "dep:async-stream"]
postgres = ["dep:tokio-postgres", "dep:uuid", "dep:postgres-native-tls", "dep:bb8", "dep:bb8-postgres", "dep:native-tls", "dep:pem", "dep:async-stream", "dep:arrow-schema"]
sqlite = ["dep:rusqlite", "dep:tokio-rusqlite", "dep:arrow-schema"]
duckdb = ["dep:duckdb", "dep:r2d2", "dep:uuid", "dep:dyn-clone", "dep:async-stream", "dep:arrow-schema", "dep:byte-unit"]
flight = [
  "dep:arrow-array",
  "dep:arrow-flight",
  "dep:arrow-schema",
  "dep:base64",
  "dep:bytes",
  "dep:datafusion-expr",
  "dep:datafusion-physical-expr",
  "dep:datafusion-physical-plan",
  "dep:datafusion-proto",
  "dep:prost",
  "dep:tonic",
]
duckdb-federation = ["duckdb"]
sqlite-federation = ["sqlite"]
postgres-federation = ["postgres"]

[patch.crates-io]
datafusion-federation = { git = "https://github.com/spiceai/datafusion-federation.git", rev = "a4c752a172904a0c214fc37ab2d62e907eb16c8f" } # spiceai-46
duckdb = { git = "https://github.com/spiceai/duckdb-rs.git", rev = "2e24b958e44ec7419290249e27a15f1a19703fff" } # spiceai-1.1.3-backported-arrow-54

datafusion = { git = "https://github.com/spiceai/datafusion.git", rev = "987d143985657065c8fc4d3d347a2010fbf36fe4" }            # spiceai-46
datafusion-common = { git = "https://github.com/spiceai/datafusion.git", rev = "987d143985657065c8fc4d3d347a2010fbf36fe4" }     # spiceai-46
datafusion-execution = { git = "https://github.com/spiceai/datafusion.git", rev = "987d143985657065c8fc4d3d347a2010fbf36fe4" }  # spiceai-46
datafusion-expr = { git = "https://github.com/spiceai/datafusion.git", rev = "987d143985657065c8fc4d3d347a2010fbf36fe4" }       # spiceai-46
datafusion-datasource = { git = "https://github.com/spiceai/datafusion.git", rev = "987d143985657065c8fc4d3d347a2010fbf36fe4" } # spiceai-46