[package]
name = "datafusion-table-providers-python"
version = { workspace = true }
readme = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
description = { workspace = true }
publish = false

[lib]
name = "datafusion_table_providers"
crate-type = ["cdylib"]
doc = false

[dependencies]
arrow = { workspace = true }
datafusion = { workspace = true, features = ["pyarrow"] }
datafusion-ffi = { workspace = true }
datafusion-table-providers = { workspace = true, features = ["sqlite", "duckdb"] }
pyo3 = { version = "0.23" }
tokio = { version = "1.42", features = ["macros", "rt", "rt-multi-thread", "sync"] }
duckdb = { workspace = true }
